{% extends "base.html" %}
{% load i18n static bulma_tags %}

{% block title %}{{title}}{% endblock %}

{% block bodyclass %}has-background-light{% endblock %}

{% block content %}
<div class="box p-6">
<h1>{{title}}</h1>
<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
<form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        {{ form|bulma }}
        <input class="button is-primary" type="submit" value="{% translate 'Reset my password' %}">
    </fieldset>
</form>
</div>
{% endblock %}
