{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Django Trivia - {% block title %}Home{% endblock %}</title>

  <!-- Add an icon to the browser tab -->
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  <!-- Include Bulma for styling -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  <!-- Your custom CSS -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="bg-base {% block bodyclass %}{% endblock %}">

{% block header %}
{% include "partials/header.html" %}
{% endblock %}
<section class="section main">
  <div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="message {% if message.tags %}is-{{ message.tags }}{% endif %}">
      <div class="message-header">
        <button class="delete" aria-label="Close"></button>
      </div>
      <div class="message-body is-light">
        {{ message }}
      </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</section>

{% include "partials/footer.html" %}

{% block modal %}{% endblock modal %}

<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}

<!-- Bootstrap JS and its dependencies-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- Your stuff: Third-party javascript libraries go here -->
{% block page_js %}
{% endblock %}

<!-- place project specific Javascript in this file -->
<script src="{% static 'js/project.js' %}"></script>

{% endblock javascript %}
</body>
</html>
