{% extends "base.html" %}
{% load static %}

{% block title %}Django Trivia{% endblock %}

{% block content %}
<h1 class="title is-size-4">
  Hello {% if user.is_authenticated %}{{ user.get_short_name }}{% else %}World{% endif %}
</h1>
<p class="subtitle">
  Welcome to Django Trivia!
</p>
<div class="block mt-6 has-text-centered">
  <h2 class="is-size-3">Test your knowledge of Django</h2>
    <a class="button is-primary is-size-4" href="{% url 'questions:question' %}">Take the quiz!</a>

</div>
{% endblock %}
