{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}
{% block bodyclass %}has-background-light{% endblock %}

{% block content %}
<div class="box p-6">
  <h2>User profile</h2>

  <div class="block ml-3">
    {% include "users/partials/user_field.html" with label="Username" value=object.username %}
    {% include "users/partials/user_field.html" with label="Name" value=object.name %}
    {% include "users/partials/user_field.html" with label="Email" value=object.email %}
  </div>

  {% if object == user %}
  <div class="control">
      <a class="button is-primary" href="{% url 'users:update' %}" role="button">Edit</a>
  </div>
  {% endif %}


</div>
{% endblock %}
