{% extends 'base.html' %}

{% block bodyclass %}has-background-light{% endblock %}

{% block content %}
<div class="box p-6 has-text-centered is-align-items-center is-flex-direction-column is-flex">
  <h3 class="title">
    {{ question.text|safe }}
    {% if user.is_staff %}
    <a class="icon has-text-info is-size-6" href="{% url 'questions:update' question.pk %}">
        <i class="fas fa-pencil-alt"></i>
    </a>
    {% endif %}
  </h3>
  {% if question.details %}
    <pre class="details block has-text-left">{{ question.details }}</pre>
  {% endif %}
  {% for choice in question.choices.all %}
  <div>
    <a class="question button is-rounded is-unclickable {% if choice.is_correct %}is-success{% elif choice == selected_choice %}is-danger{% else %}is-dark is-outlined{% endif %}">
      {% if choice.is_correct %}
      <span class="icon mr-2">
        <i class="fas fa-check"></i>
      </span>
      {% elif choice == selected_choice %}
      <span class="icon mr-2">
        <i class="fas fa-times"></i>
      </span>
      {% endif %}
      {{ choice.text|linebreaks }}
  </span>
    </a>
    {% if choice == selected_choice %}
    <span class="absolute button is-inverted is-unclickable {% if choice.is_correct %}is-success{% else %}is-danger{% endif %}">
        <span class="icon">
          <i class="fas fa-arrow-left"></i>
        </span>
    </span>
      {% endif %}
    <div class="block mx-6 mt-2 mb-5">
    {{ choice.details|linebreaks }}
    </div>
  </div>
  {% endfor %}
    {% if selected_choice.is_correct %}
      <div class="block has-text-success is-size-4 is-bold">Correct!</div>
    {% else %}
      <div class="block has-text-danger is-size-4 is-bold">Incorrect</div>
    {% endif %}
  <div class="bottom-row is-flex is-justify-content-flex-end">
    <a class="button is-link is-pulled-right" href="{% url 'questions:question' %}">Next</a>
  </div>
</div>
{% endblock %}
