{% extends 'base.html' %}

{% block bodyclass %}has-background-light{% endblock %}

{% block content %}
<div class="box p-6 has-text-centered">
  <h3 class="title">{{ question.text }}</h3>
  {% for choice in question.choices.all %}
  <div class="buttons is-centered">
    <a class="button is-rounded is-unclickable {% if choice.is_correct %}is-success{% elif choice == selected_choice %}is-danger{% else %}is-dark is-outlined{% endif %}">
      {% if choice.is_correct %}
      <span class="icon mr-2">
        <i class="fas fa-check"></i>
      </span>
      {% elif choice == selected_choice %}
      <span class="icon mr-2">
        <i class="fas fa-times"></i>
      </span>
      {% endif %}
      {{ choice.text }}
    </a>
  </div>
  {% endfor %}

  <span>
    <!-- Hack to fix spacing. Makes Correct/Incorrect label centred -->
    <a class="button is-pulled-left is-invisible" href="{% url 'questions:question' %}">Next</a>

    {% if selected_choice.is_correct %}
      <span class="has-text-success is-size-4 is-bold">Correct!</span>
    {% else %}
      <span class="has-text-danger is-size-4 is-bold">Incorrect</span>
    {% endif %}

    <a class="button is-link is-pulled-right" href="{% url 'questions:question' %}">Next</a>
  </span>
</div>
{% endblock %}
