{% extends 'base.html' %}
{% load bulma_tags %}

{% block bodyclass %}has-background-light{% endblock %}

{% block content %}
<div class="box p-6">
  <h2 class="title">Update question {{ question.pk }}</h2>
  <form class="update" method="POST" action="{% url 'questions:update' question.pk %}">
    {% csrf_token %}
    <div class="block p-5">
      {{ form|bulma }}
    </div>
    <h3>Choices</h3>
    <div class="block p-5">
      {{ formset|bulma }}
    </div>
    <div class="buttons">
      <a class="button" href="{{ question.get_absolute_url }}">Cancel</a>
      <button class="button is-primary" type="submit">Update</button>
    </div>
  </form>
</div>
{% endblock %}
