{% extends 'base.html' %}

{% block bodyclass %}has-background-light{% endblock %}

{% block content %}
<div class="box p-6 has-text-centered is-align-items-center is-flex-direction-column is-flex">
  <h3 class="title">
    {{ question.text }}
    {% if user.is_staff %}
    <a class="icon has-text-info is-size-6" href="{% url 'questions:update' question.pk %}">
        <i class="fas fa-pencil-alt"></i>
    </a>
    {% endif %}
  </h3>
  {% if question.details %}
  <pre class="details block has-text-left">{{ question.details }}</pre>
  {% endif %}
  {% for choice in question.choices.all %}
  <div class="buttons is-centered">
    <a class="question button is-rounded is-dark is-outlined" href="{% url 'questions:answer' question.pk choice.pk %}">
      {{ choice.text|linebreaks }}
    </a>
  </div>
  {% empty %}
  <div class="block">
    No choices configured
  </div>
  {% endfor %}
</div>
{% endblock %}
